@model BookingManager.Models.catogory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>catogory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sub_catrogoris.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sub_catrogoris.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.catogory_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
