<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Books manager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("books", "Index", "books")</li>
                    <li>@Html.ActionLink("Catogories", "index", "catogories")</li>
                    <li>@Html.ActionLink("sub catogories", "index", "sub_catogories")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $("#catogory_id").change(function () {
                
                 $.ajax({url: "/books/GetsubCatrogorisByMain/"+$('#catogory_id').val(), success: function(result){
                     console.log(result);
                    // $("#subcatogory_id").html = "<p>ddd</p>";
                     html = "";
                     result.forEach(element => html+="<option value=\""+element.subCatogory_id+"\">"+element.name+"</option>");

                     document.getElementById("subcatogory_id").innerHTML = html;

                }});
            });
        });

          run();

    function run() {

     $.ajax({url: "https://api.stackexchange.com/2.2/questions?order=desc&sort=activity&tagged=ipv4&site=stackoverflow&filter=!5-dn)8xu6QZI)ZZw.Qkh3LnsZb7HOcBh(7WtBX", success: function(result){
                     console.log(result["items"]);
                    // $("#subcatogory_id").html = "<p>ddd</p>";
                     html = "";
                     result["items"].forEach(element => html += "<li>" + element.title + "</li>");
                     document.getElementById("data").innerHTML = html;

     }
     });
    }


    </script>
</body>
</html>
