@model BookingManager.Models.sub_catrogoris

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>sub_catrogoris</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.main_category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.main_category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.catogory.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.catogory.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.subCatogory_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
